<div class="footer">
	{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}
	<!--&copy; {{ now.Format "2006" }} {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}-->
	{{ if .Site.Params.footer.show_powered_by -}}
	|
	Powered by <a href="http://gohugo.io/">Hugo {{ .Hugo.Version }}</a>
	&amp; <a href="https://github.com/digitalcraftsman/hugo-alabaster-theme">Alabaster</a>
	{{ end }}
</div>

{{ if .Site.Params.github_banner -}}
<a href="https://github.com/{{ .Site.Params.github_user }}/{{ .Site.Params.github_repo }}" class="github">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" class="github"/>
</a>
{{- end }}
